:global .css-179z3gj-MuiFormLabel-root-MuiInputLabel-root{
  color: white;
}

:global .css-hjtp1-MuiInputBase-root-MuiOutlinedInput-root {
  font-size: 31px;
}

:global(.MuiOutlinedInput-notchedOutline) {
  border-width: 5px;
}